@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi I'm Olivia'</h1>
    <img src="~/img/IMG_5126small.JPG">
    <p>This is me and Ty, Love of my life</p>
</div>
